*{
  box-sizing: border-box;
}


/* Board */

.board{
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
  max-width: 750px;
}

/* Score Board */

/* Card Zone */


.card-zone{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80vw;
  gap: 0.5rem;
  padding: 2rem;
}

.card{
  max-width: 200px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 5px;
  padding: 1rem 0;
}

.card img {
  max-width: 150px;
  min-width: 120px;
  max-height: 130px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;

}

.card h3{
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}


